<div class="ibox">
  <!-- ibox body -->
  <div class="ibox-body">
    <div class="ibox-filters">
      <p class="required-field">All fields marked with&nbsp;<span class="red-asterisk">*</span>&nbsp;are required</p>
    </div>
    <div class="ibox-content">
      <!-- fieldset code here -->  
      <div class="row mb20">
        <!-- fields go here -->
        <% if can_access_attribute?(:rating) %>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :rating, label: '<span></span> Rating'.html_safe,
                input_html: { class: ' form-control', spellcheck: true  },
                  readonly: cannot_modify_attribute?(:rating) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:user) %>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :user, label: '<span></span> User'.html_safe,
                input_html: { class: ' form-control', spellcheck: true  },
                  readonly: cannot_modify_attribute?(:user) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:movie) %>
          <div class="col-sm-4">
            <div class="form-group selectdiv">
              <div class="control-wrapper">
                <%= f.association :movie, collection: select_list(Movie.all,
                                           f.object.movie, 'references', 'to_s'), label: '<span></span> Movie'.html_safe,
          input_html: {
            class: ' select2 form-control',
            data: { autocomplete_url: admin_movies_path,
                    selection_length: Movie.all.count,
                    text_identifier: 'to_s',
                    max_length: ENV['LIST_MAX_RECORDS'].to_i > 0 ? ENV['LIST_MAX_RECORDS'].to_i : 50 }
          }, readonly: cannot_modify_attribute?(:movie) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- nested form code here -->
      <%= f.hidden_field :alt_list, value: @alt_list %>
    </div>
  </div>
  <!-- /- ibox body -->
</div>
