<form class="form-horizontal">
  <div class="ibox float-e-margins mvi-form-content">
    <div class="ibox-header">
      <div class="mvi-ibox-title">
        <h3><%= render 'shared/title' %></h3>
      </div>
      <div class="mvi-ibox-buttons">
        <%= link_to '#', class: 'btn btn-sm btn-close pull-right', data: { dismiss: 'modal', bs_dismiss: 'modal' } do %>
          Close
        <% end %>
      </div>
    </div>
    <div class='ibox-content' data-hook="page-content-container">
      <%= render partial: 'show_fields', locals: { movie_genre: movie_genre } %>
    </div>
  </div>
</form>
<!-- action buttons start -->
<!-- child lists start -->
