<div class="ibox">
  <!-- ibox body -->
  <div class="ibox-body">
    <div class="ibox-filters">
      <p class="required-field">All fields marked with&nbsp;<span class="red-asterisk">*</span>&nbsp;are required</p>
    </div>
    <div class="ibox-content">
      <!-- fieldset code here -->  
      <div class="row mb20">
        <!-- fields go here -->
        <% if can_access_attribute?(:user) %>
          <div class="col-sm-4">
            <div class="form-group selectdiv">
              <div class="control-wrapper">
                <%= f.association :user, collection: select_list(User.all,
                                           f.object.user, 'references', 'to_s'), label: '<span></span> User'.html_safe,
          input_html: {
            class: ' select2 form-control',
            data: { autocomplete_url: admin_users_path,
                    selection_length: User.all.count,
                    text_identifier: 'to_s',
                    max_length: ENV['LIST_MAX_RECORDS'].to_i > 0 ? ENV['LIST_MAX_RECORDS'].to_i : 50 }
          }, readonly: cannot_modify_attribute?(:user) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:return_due) %>
          <div class="col-sm-4">
            <div class="form-group">
              <div class="control-wrapper">
                <%= f.input :return_due, as: :string, label: '<span></span> Return Due'.html_safe,
                  input_html: { class: ' form-control ', value: f.object&.return_due&.strftime('%Y-%m-%d'),
                                type: 'date'  },
                  readonly: cannot_modify_attribute?(:return_due) %>
              </div>
            </div>
          </div>
        <% end %>
        <% if can_access_attribute?(:status) %>
          <div class="col-sm-4">
            <div class="form-group selectdiv">
              <div class="control-wrapper">
                <%= f.input :status,
                  as: :select, collection: select_list(OrderStatus.all,
                                         f.object.status, 'enum'), label: '<span></span> Status'.html_safe,
                  input_html: { class: ' select2 form-control'  },
                  readonly: cannot_modify_attribute?(:status) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- nested form code here -->
      <%= f.hidden_field :alt_list, value: @alt_list %>
    </div>
  </div>
  <!-- /- ibox body -->
</div>
