<% if @xls_button || @csv_button || @copy_button || @pdf_button || @print_button %>
  <div class="dropdown more-option options-nav">
    <button class="btn btn-more dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% if @xls_button && local_assigns[:xls] %>
        <li><%= link_to 'To XLS', xls, class: 'dropdown-item' %></li>
      <% end %>
      <% if @csv_button %>
        <li><%= link_to 'To CSV', csv, class: 'dropdown-item' %></li>
      <% end %>
      <% if @copy_button %>
        <li><a href="#"
     class="dropdown-item"
     onclick="
       var rows = Array.from(document.querySelectorAll('#users-table tr'));
       var csv = rows.map(r => Array.from(r.cells).map(c => c.innerText).join(',')).join('\n');
       navigator.clipboard.writeText(csv).then(()=>alert('Copied as CSV!'));
       return false;">
    Copy
  </a></li>
      <% end %>
      <% if @pdf_button %>
        <%= link_to 'To PDF',
              export_pdf_admin_users_path,
              class: 'dropdown-item',
              data: { turbo: false } %>
      <% end %>
      <% if @print_button %>
        <li>
          <a href="#"
            class="dropdown-item"
            onclick="var t=document.getElementById('users-table');
              if (t) {
                var w = window.open('', 'PRINT', 'height=800,width=1000');
                w.document.write('<html><head><title>Print</title></head><body>');
                w.document.write(t.outerHTML);
                w.document.write('</body></html>');
                w.document.close();
                w.focus();
                setTimeout(function(){ w.print(); w.close(); }, 300);
              } else {
                window.print();
              }
              return false;">
            Print
          </a>  
        </li>
      <% end %>

    </ul>
  </div>
<% end %>
