<div class='portlet-container' data-hook="child-list-container">
  <%= portlet '', source: admin_movie_movie_copies_path(@movie), expand: true %>
</div>
<div class='portlet-container' data-hook="child-list-container">
  <%= portlet '', source: admin_movie_movie_actors_path(@movie), expand: true %>
</div>
