/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * Commented css used by commented inspinia JS. put some of these back if the JS is required
 * require bootstrap-datetimepicker
 *= require_self
 *= require simple_calendar
 *= require tree
*= require table_styling
 *= require mvi-theme
 *= require_tree ./mvi/
 // <!-- Custom css references start -->
 // <!-- Custom css references end -->
 */

.table thead th { font-weight: 600; }
.nowrap { white-space: nowrap; }

.badge {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.1;
}

.badge-yes, .badge-active   { background: #1ab394; color: #fff; }   // green
.badge-no,  .badge-inactive { background: #d9534f; color: #fff; }   // red

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 28px; height: 28px;
  border-radius: 4px;
  margin: 0 2px;
  background: #f7f7f7;
}
.btn-icon:hover { background: #e9e9e9; }
.btn-icon .fa { font-size: 13px; }

.text-danger { color: #d9534f !important; }



/* hide when [hidden] is present */
.gn-menu .has-sub .sub-menu[hidden] { display: none; }

/* rotate caret when open */
.caret { display: inline-block; transition: transform .2s; }
.gn-menu .has-sub.is-open .caret { transform: rotate(180deg); }



/* Submenu list */
.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #0b2a3d; /* tối hơn menu cha 1 chút */
}

/* align item in submenu */
.sub-menu li {
  padding: 0; 
}

/* link bên trong submenu */
.sub-menu li .sub-link {
  display: block;
  padding: 8px 20px;   /* 8px trên/dưới, 20px trái/phải */
  padding-left: 35px;  /* thụt vào thêm bên trái */
  color: #ccc;
  font-size: 0.95rem;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

/* hover + active */
.sub-menu li .sub-link:hover,
.sub-menu li.active .sub-link {
  background-color: #145374;
  color: #fff;
  border-radius: 3px;
}

button {
  -webkit-appearance: none;
  appearance: none;
}


button, input[type="submit"] {
  outline: none !important;
  box-shadow: none !important;
}
