<div class='portlet-container' data-hook="child-list-container">
  <%= portlet '', source: admin_user_orders_path(@user), expand: true %>
</div>
<div class='portlet-container' data-hook="child-list-container">
  <%= portlet '', source: admin_user_movie_notifications_path(@user), expand: true %>
</div>
