<!-- screen reference start -->
<!--above-placeholders-->

<div class="ibox">
  <div class="ibox-header">
    <div class="mvi-ibox-title" data-hook="portlet-bar-container">
      <h3><%= render 'shared/title' %></h3>
    </div>
    <div class="mvi-ibox-buttons">
      <% if can?(:update, @user) %>
        <%= link_to 'Edit', '#',
                    class: 'btn btn-action pull-right single-show-edit btn-view',
                    data: { 'form-url': edit_polymorphic_path([:admin, @user]) } %>
      <% end %>
      <%= link_to polymorphic_path([:admin, user.class.name.constantize]),
          class: 'btn btn-close pull-right' do %>
        Back
      <% end %>
    </div>
  </div>
  <div class="ibox-body">
    <div class="ibox-content" data-hook="page-content-container">
      <%= render partial: 'show_fields', locals: { user: user } %>
    </div>
  </div>
</div>
